<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    Hello <b>{{customer.name}}</b>

    <ol>
        {% for item in cart %}
            <li>{{item.product.name.title}} x {{item.amount}}</li>
            <form action="/customer/delete_item" method="get">
                <input type="hidden" name="id" value="{{item.id}}">
                <input type="submit" value="Delete">
            </form>
            <br>
        {% endfor %}
    </ol>
</body>
</html>