<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Customer Home</h2>
    {% for product in products %}
        <p>
            {{product.name}} for {{product.price}}Rs
            <img src="/media/{{product.image}}" alt="" height="200" width="200">
            <form action="" method="get">
                <input type="hidden" name="id" value="{{product.id}}">
                <input type="number" name="amount">
                <input type="submit" value="Add to Cart">
            </form>
        </p>
    {% endfor %}
</body>
</html>